.fav-cont {
    min-height: 95vh;
    padding: 1rem;
    justify-content: space-between;
    color: #36454F;
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.fav-results{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.fav-cont section{
    padding-bottom: 1rem;
}
.fav-cont p{
    font-size: 0.9rem;
}
.fav-cont ul{
    list-style-type: none;
}
.fav-cont li{
    padding-bottom: 0.5rem;
}
