.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: absolute;
    padding: 0px 120px;
    height: 5rem;
    width: 100%;
    overflow-x: clip;
}

.heading-cont {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.3rem;
}

h1 {
    font-family: 'Wallpoet', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #36454F;
    z-index: 1;
}

a {
    color: #36454F;
    text-decoration: none;
}

.navbar-nav {
    display: none;
    align-items: center;
    position: relative;
    height: 40px;
}

.navlist-1 {
    display: flex;
    font-size: 1.2rem;
    height: 100%;
    list-style-type: none;
    font-family: 'Inter', 'Times New Roman', Times, serif;
    z-index: 2;
}

.overlay {
    position: absolute;
    bottom: 0;
    background-color: rgb(238, 120, 102);
    overflow: hidden;
    width: 0;
    height: 5px;
    transition: .5s ease;
}

.navlist-1 li:hover .overlay {
    width: 100%;
}

.navlist-1 li {
    position: relative;
    color: #36454F;
    text-align: center;
    width: 100px;
}

.navlist-1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* show navlist */
.navbar-nav-show{
    position: absolute;
    right: 0;
    display: flex;
}
.navlist-1-show{
    flex-flow: column;
    gap: 20px;
    z-index: 15;
    margin-top: 9rem;
    margin-right: 2.5rem;
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out 0s forwards;
}
.navlist-1-show a{
    color: #e5e5e5;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.activate{
    font-weight: 800;
    color: #36454F;
    text-decoration: underline;
}
@media screen and (max-width:575px) {
    .navbar{
        padding: 0px 32px;
    }
    .heading-cont{
        font-size: 1.2rem;
    }
    .overlay{
        display: none;
    }
    .navlist-1-show{
        margin-right: 1.5rem;
    }

}
@media screen and (min-width:576px) {
    .navbar{
        padding: 0px 64px;
    }
    .overlay{
        display: none;
    }

}

@media screen and (min-width:992px) {
    .navbar{
        padding: 0px 120px;
    }
    .navbar-nav{
        display: flex;
    }
    .overlay{
        display: block;
    }
    .activate {
        color:#36454F;;
        text-decoration: none;
        font-weight: 100;
        border-bottom: 5px solid #dd3b50;
    }
}
