.card-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.card2 {
    display: flex;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 335px;
    cursor: pointer;
    position: relative;
    font-family: 'Mulish';
    box-shadow: 0 0 10px rgb(53 53 53 / 50%);
}

.card-image img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
.card-image {
    border-radius:10px;
    width: 100%;
    height: 70%;
}
.card-text{
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 20px;
    width: 100%;
    flex:1;
    color: #2C3539;
}
.head h4{
    font-size: 0.8rem;
}
.head h3{
    font-size: 1rem;
}
.head{
    display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.head h3, .head h4{
    text-align: center;
}

.no-results{
    color: #2C3539;
    text-align: center;
}
@media screen and (max-width:575px){

    .card-text{
        gap: 5px;
        overflow: hidden;
    }
    .bio p{
        font-size: 0.7rem;
    }
    .rating{
        display: none;
    }
}
@media screen and (min-width:576px){
    .card-text{
        gap: 5px;
        overflow: hidden;
    }
    .bio p{
        font-size: 0.7rem;
    }
    .rating{
        display: none;
    }
}
@media screen and (min-width:768px){
    .card-text{
        gap: 10px;
    }
    .bio p{
        font-size: 0.7rem;
    }
    .rating{
        display: block;
    }
}
@media screen and (min-width:992px) {
    .card-text{
        gap: 15px;
    }
}
