@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Stalinist+One&family=Krona+One&family=Inter:wght@300&family=Mulish:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #36454F;
  background-color: #e6eeee;
  font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
